.btn {
  width: 100%;
  border: 3px solid black;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  color: black;
  aspect-ratio: 1/1;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}

.btn.active {
  background-color: hsl(200, 100%, 55%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}
